
    body{background-color: green;

    }
    
    div{
        background-color: rgb(85, 79, 139); 
        height: 500px;
     }
     h1{color: white;

     }
     .yellow-bg{
         background-color: yellow;
     }